html {
    scroll-behavior: smooth;
}
*, *::before, *::after, h1, h2, h3, p, th, td, tr, table {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Inter', sans-serif;
    background-color: #f4f6f8;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #787486;
}
.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}
.sidebar {
    width: 250px;
    transition: width .3s ease;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #DBDBDB;
}
.sidebar__container {
    margin: 0 22px;
}
.menu-toggle svg {
    transition: transform 0.3s ease;
}
.menu-toggle.is-active svg {
    transform: rotate(180deg);
}
.menu-toggle {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
}
.menu-toogle__container svg:last-child {
    margin-left: -16px;
}
.sidebar__header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-top: 32px;
    margin-bottom: 32px;
}
.sidebar__header-container {
    border-bottom: 1px solid #DBDBDB;
}
.brand__name {
    color: #0D062D;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-right: 46px;
}
.menu {
    margin-top: 32px;
}
.menu__list {
    list-style: none; 
    padding: 0;
    margin: 0;        
    display: flex;
    flex-direction: column;
    gap: 30px;       
}
.menu__link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 14px;
    text-decoration: none;
    color: inherit; 
}
.menu__link:visited {
    color: inherit;
}
.selectors {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 50px;
    background-color: hsla(251, 78%, 54%, 0.2);
    padding: 32px;
    border-radius: 12px;
}
h3 {
    color: #0D062D;
    font-size: 18px;
    margin-bottom: 16px;
}
.selector__select {
    width: 100%;
    padding: 12px;
    border: 1px solid #DBDBDB;
    border-radius: 8px;
    background-color: #fff;
    font-size: 16px;
    color: #787486;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.main {
    flex-grow: 1;
    padding: 40px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}
.hidden {
    display: none;
}
.projects__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.btn {
    width: 122px;
    height: 40px;
    border-radius: 6px;
    border: 1px solid #787486;
    color: #787486;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.projects__buttons {
    gap: 16px;
    display: flex;
    flex-direction: row;
}
.btn-text {
    margin-left: 8px;
}
h1 {
    color: #0D062D;
    font-size: 46px;
    font-weight: 600;
}

.projects__table {
    margin-top: 60px;
    border-collapse: collapse;
    width: 100%;
    box-shadow: 0 2px 10px hsla(0, 0%, 96%, 1);
}
th, td {
    padding: 20px;
    text-align: left;
    color: #0D062D;
}
table tr:first-child th:first-child { border-top-left-radius: 12px; }
table tr:first-child th:last-child { border-top-right-radius: 12px; }
.projects__table__header {
    background-color: hsla(251, 78%, 54%, 0.08);
}
.projects__total-income {
    margin-top: 20px;
    padding: 15px 20px;
    background-color: #ecf0f1;
    border-radius: 6px;
    font-size: 1.1em;
}
.employees-btn {
    background-color: hsla(251, 78%, 54%, 1);
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
}

